html {
    scroll-behavior: smooth;
    height: 100%;
    /* background: #575dd8; */
}

body {
    background: #DC6F98;
}

.content {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* fdfdfd */
    max-width: 500px;
    margin: auto;
    background: #D290AB;
    padding: 10px;
}

.error {
    border: 2px solid #cf1111;
}


/* textarea {
    resize: none;
} */

#frm-contacto div {
    max-width: 430px;
    padding: 35px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}


/**** Botones y Sweet alert****/

.btn,
.swal2-container .swal2-styled.swal2-confirm {
    background: #FD0064;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease 0s;
    outline: none;
}

.btn:hover,
.swal2-container .swal2-styled.swal2-confirm:hover {
    box-shadow: 0px 0px 10px 2px #D290AB;
    transition: all 0.5s ease 0s;
}

.btn:hover {
    background: #D290AB;
    text-decoration: none;
}

.btn-editar button {
    border: none;
    background: none;
    color: #D290AB;
}

.swal2-container .swal2-icon.swal2-warning {
    border-color: #D290AB;
    color: #D290AB;
}

.swal2-container .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #D290AB;
    color: #D290AB;
}

.swal2-container .swal2-icon.swal2-success,
.swal2-container .swal2-icon.swal2-success [class^=swal2-success-line] {
    color: #D290AB;
}

.swal2-container .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #D290AB;
}


/**** fin de botones y sweet alert****/

.contenedor {
    max-width: 1024px;
    margin: 0px auto;
}